html, body, #root {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-padding {
  padding: 50px 100px;
}

.map-tooltip {
  position: absolute;
  background-color: rgba(25,26,26, 0.9);
  padding: 15px;
  border-bottom-right-radius: 15px;
}

.map-tooltip > * {
  color: #fff;
  font-size: 1.5em;
}

.small-map-tooltip {
  position: absolute;
  background-color: rgba(25,26,26, 0.9);
  padding: 15px;
  z-index: 30;
  bottom: 0;
  left: 0;
  right: 0;
}

.small-map-tooltip > * {
  color: #fff;
  font-size: 1.2em;
}

.map-loading {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item > svg {
  color: white;
  cursor: pointer;
}

.current > svg{
  color: lime;
}

.nav-item > svg:hover {
  transition: opacity 0.2s ease;
  opacity: 0.7;
}

.nav-item > svg {
  transition: opacity 0.2s ease;
  opacity: 1;
}

.nav-item {
  cursor: default;
}

.flex {
  flex: 1;
}

.newsStory:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.newsStory {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.messageInput::placeholder {
  color: gray;
}

.messageInputContainer {
  background-color: lightgray;
}

.chatMessage {
  border: 1px solid rgba(0, 0, 0, 0);
}

.chatMessage:hover {
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  cursor: pointer;
}

.smLoginButton {
  opacity: 1;
  border: 1px solid #e2e2e2;
  box-shadow: 0 3px 1px #0000000f;
  transition: opacity 0.5s ease;
}

.smLoginButton:not(.fullButton):hover {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.boxShadow {
  box-shadow: 0px 10px 25px 5px #0000000f;
}

.offWhiteBackground {
  background: #f9f9f9 !important;
}

.dropzone {
  border: dashed 3px lightgray;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropzone:hover {
  border-color: gray;
}

.hover-spinner > svg {
  transform: rotateZ(0deg);
  transition: transform 1s ease;
}

.hover-spinner:hover > svg, .hover-spinner:active > svg {
  transform: rotateZ(360deg);
  transition: transform 1s ease;
}

.spinning-logo {
  animation: spin-logo 2s ease infinite;
}

@keyframes spin-logo {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.slide-pane__header {
  background-color: #343a40 !important;
}

.navbarOverlayZIndex {
  z-index: 40 !important;
}

.navbarZIndex {
  z-index: 45 !important;
}

.inner-body {
  flex-direction: row;
}

@media only screen and (max-device-width: 1024px) {
  .inner-body {
    flex-direction: column;
  }
}

.tab-content {
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}
